CHANNEL=miantiao_me

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=ccbikai
TWITTER=ccbikai
GITHUB=ccbikai
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
