* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.site-title {
  view-transition-name: site-title;
  transition: 0.2s ease;
}

.item {
  transition: 0.2s ease;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  background: var(--cell-background-color);
  color: var(--secondary-color);
  width: 40px;
  height: 40px;
  border-radius: 0;
  border: 1px solid var(--border-color);
  font-size: 24px;
  text-decoration: none;
  opacity: 0;
  transition:
    opacity 0.3s,
    transform 0.3s;
  z-index: 1000;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(1px);
  }

  img {
    filter: var(--icon-secondary-filter);
  }
}

@supports (animation-timeline: view()) {
  #back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s linear both;
    animation-timeline: view(block 0 100vh);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      pointer-events: none;
    }
    to {
      opacity: 0.9;
      pointer-events: auto;
    }
  }
}
